<!-- (...) -->
<app-todo-adder></app-todo-adder>
<app-todo-list></app-todo-list>                                                         <!-- add -->

<!-- 
    <ul>                                                                                // delete
        <li *ngFor="let task of (todoList$ | async); let i = index">                    // delete
            <input type="checkbox" [ngModel]="task.done" (click)="toggleTodo(i)"/>      // delete
            {{task.name}}                                                               // delete
        </li>                                                                           // delete
    </ul>                                                                               // delete
-->

<!-- (...) -->